#header{
    background:#039be5;
    height: 60px;
    padding: 10px 30px;       
    .material-icons {
        font-size: 40px;
        color: #fff;
    }
    span{
        padding: 0px 0 0 30px;
        font-size: 30px;
        color: #fff;
    }
}