<section id="sideNav" fxLayout="column" fxFlex="100">
  <nav id="sidebar" fxLayout="column">
      <button mat-raised-button (click)="openDialog()">ADD</button>
      <h3>Filters</h3>
      <a mat-button routerLink="/all" routerLinkActive="active">All</a>
      <a mat-button routerLink="/starred" routerLinkActive="active">Starred</a>
      <a mat-button routerLink="/priority" routerLinkActive="active">Priority</a>
      <a mat-button routerLink="/schedule" routerLinkActive="active">Scheduled</a>
      <a mat-button routerLink="/today" routerLinkActive="active">Today</a>
      <a mat-button routerLink="/completed" routerLinkActive="active">Done</a>
      <a mat-button routerLink="/deleted" routerLinkActive="active">Deleted</a>
  </nav>
</section>
